<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.se.browser"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".BrowserActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SensorListActivity"
      	  android:label="@string/sensor_list_activity_name"
        />
        <activity android:name=".IconListActivity"
      	  android:label="@string/icon_list_activity_name"
    	/>
    </application>
    <uses-sdk android:minSdkVersion="3" />

</manifest> 